section.story 
    .container 
        +blockBox("Our stories", "Latest Blog")
        ul.story-list 
            +storyItem("./images/img-blog1.png", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.") 
            +storyItem("./images/img-blog2.png", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.") 
            +storyItem("./images/img-blog3.png", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.") 
section.map
    .container 
        .map-content 
            img.map-icon(src="./images/img-map-icon.png")
            h2.map-heading Open map